@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
#menu ul {list-style:none;}
#menu ul li {height:35px;width:140px;float:left;background:red;text-align:center;margin:2px;BORDER-RADIUS:8PX;line-height:35px;position:relative;}
#menu ul li a{text-decoration:none;color:white;display:block;}
#menu ul li a:hover{background:green;border-radius:8px;}
#menu ul ul{display:none;position:absolute;}
#menu ul li:hover  > ul {display:block;}
#menu ul ul ul{margin-left:140px;top:0;}